PruebaMauricioJimenezQ.PaginaWeb/Connected Services/ServiceReference1/Service11.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:ser="http://schemas.microsoft.com/2003/10/Serialization/" xmlns:tns="http://schemas.datacontract.org/2004/07/PruebaMauricioJimenezQ.Entidades" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/PruebaMauricioJimenezQ.Entidades" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:53354/Service1.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
  <xs:complexType name="ArrayOfETCliente">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ETCliente" nillable="true" type="tns:ETCliente" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfETCliente" nillable="true" type="tns:ArrayOfETCliente" />
  <xs:complexType name="ETCliente">
    <xs:sequence>
      <xs:element minOccurs="0" name="ClienteId" type="ser:guid" />
      <xs:element minOccurs="0" name="Codigo" type="xs:int" />
      <xs:element minOccurs="0" name="Identificacion" type="xs:int" />
      <xs:element minOccurs="0" name="Nombre" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ETCliente" nillable="true" type="tns:ETCliente" />
  <xs:complexType name="ArrayOfETArticulo">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ETArticulo" nillable="true" type="tns:ETArticulo" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfETArticulo" nillable="true" type="tns:ArrayOfETArticulo" />
  <xs:complexType name="ETArticulo">
    <xs:sequence>
      <xs:element minOccurs="0" name="ArticuloId" type="ser:guid" />
      <xs:element minOccurs="0" name="Codigo" type="xs:int" />
      <xs:element minOccurs="0" name="Nombre" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Precio" type="xs:decimal" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ETArticulo" nillable="true" type="tns:ETArticulo" />
  <xs:complexType name="ArrayOfETFactura">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ETFactura" nillable="true" type="tns:ETFactura" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfETFactura" nillable="true" type="tns:ArrayOfETFactura" />
  <xs:complexType name="ETFactura">
    <xs:sequence>
      <xs:element minOccurs="0" name="ClienteId" type="ser:guid" />
      <xs:element minOccurs="0" name="Consecutivo" type="xs:int" />
      <xs:element minOccurs="0" name="FacturaId" type="ser:guid" />
      <xs:element minOccurs="0" name="NombreCliente" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Pago" type="xs:boolean" />
      <xs:element minOccurs="0" name="TotalFactura" type="xs:decimal" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ETFactura" nillable="true" type="tns:ETFactura" />
  <xs:complexType name="ArrayOfETLineadetalle">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ETLineadetalle" nillable="true" type="tns:ETLineadetalle" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfETLineadetalle" nillable="true" type="tns:ArrayOfETLineadetalle" />
  <xs:complexType name="ETLineadetalle">
    <xs:sequence>
      <xs:element minOccurs="0" name="ArticuloId" type="ser:guid" />
      <xs:element minOccurs="0" name="Cantidad" type="xs:int" />
      <xs:element minOccurs="0" name="FacturaId" type="ser:guid" />
      <xs:element minOccurs="0" name="LineadetalleId" type="ser:guid" />
      <xs:element minOccurs="0" name="NombreArticulo" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PrecioUnitario" type="xs:decimal" />
      <xs:element minOccurs="0" name="TotalLinea" type="xs:decimal" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ETLineadetalle" nillable="true" type="tns:ETLineadetalle" />
</xs:schema>